@import url("../node_modules/normalize.css/normalize.css");

:root {
  --color_highlight: #587c98;
  --color_highlight--dark: #5f455e;
  --color_background--dark: #e0e3e9;
  --color_light: #666;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
}

a,
a:visited {
  color: var(--color_highlight);
  text-decoration: none;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

a:hover {
  border-bottom: 2px solid;
}

a.no-hover {
  border-bottom: 0;
}

.link--padded {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.layout {
  position: relative;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.layout--padded-top {
  padding-top: 3rem;
}

.layout--padded {
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
}

.layout--wide {
  max-width: 70rem;
}

.layout--dark {
  background: var(--color_background--dark);
}

code {
  background: #e0e3e9;
  border-radius: 0.25rem;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0.25rem;
}

pre {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**
 * Navigation
 */
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.navigation_list {
  list-style: none;
  padding: 0;
}

.navigation_item {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: uppercase;
  text-align: left;
}

.navigation_item > a {
  color: #fff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/**
 * Header
 */
.header {
  background: linear-gradient(to bottom right, var(--color_highlight), var(--color_highlight--dark));
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.logo {
  width: 20rem;
  height: 20rem;
  background-image: url(./logo.svg);
  background-size: 100% 100%;
  text-indent: -99em;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Footer
 */
.footer {
  background: var(--color_background--dark);
}

.footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--color_light);
}

/**
 * Icons
 */

.icon {
  display: inline-block;
  text-indent: -99em;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100% 100%;
  vertical-align: middle;
}

.icon--github {
  background-image: url(./github.svg);
}
/**
 * Typography
 */
.type_type-0 {
  font-size: 0.85rem;
}

.type_type-1 {
  font-size: 1rem;
}

.type_type-2 {
  font-size: 1.25rem;
}

.type_type-3 {
  font-size: 1.5rem;
}

.type_type-5 {
  font-size: 2rem;
}

/**
 * Alignment
 */
.align--clear::before,
.align--clear::after {
  content: '';
  display: block;
  clear: both;
}

.align--right {
  float: right;
}

.align--left {
  float: left;
}

/**
 * Grid
 */
.grid {
  display: flex;
}

.grid_item {
  flex: 1;
}

/**
 * Cards
 */
.card {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
              0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;
  background: #fff;
}

.card:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12),
              0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.card_content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card_actions {
  border-top: 1px solid var(--color_background--dark);
  padding: 0.5rem;
  overflow: hidden;
}

.card_image {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color_background--dark);
}

/**
 * Button
 */
.button {
  float: left;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0.125rem
}

.button:hover {
  background-color: var(--color_background--dark);
}
