@import url("../node_modules/normalize.css/normalize.css");

:root {
  --color_highlight: #587c98;
  --color_background--dark: #e0e3e9;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
}

a,
a:visited {
  color: var(--color_highlight);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a.no-hover {
  border-bottom: 0;
}

.layout {
  position: relative;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.layout--padded-top {
  padding-top: 3rem;
}

.header {
  margin-bottom: 4rem;
}

code {
  background: #e0e3e9;
  border-radius: 0.25rem;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0.25rem;
}

pre {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**
 * Navigation
 */
.navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem 0 0;
}

.navigation_list {
  list-style: none;
  padding: 0;
}

.navigation_item {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: uppercase;
}

.navigation_item > a {
  color: #fff;
}

/**
 * Header
 */
.header {
  background: var(--color_highlight);
}

.logo {
  width: 20rem;
  height: 20rem;
  background-image: url(./logo.svg);
  background-size: 100% 100%;
  text-indent: -99em;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Footer
 */
.footer {
  background: var(--color_background--dark);
}

.footer {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon {
  display: inline-block;
  text-indent: -99em;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
  vertical-align: middle;
}

.icon--github {
  background-image: url(./github.svg);
}
/**
 * Typography
 */
.type_type-1 {
  font-size: 1rem;
}

.type_type-2 {
  font-size: 1.5rem;
}

.type_type-5 {
  font-size: 2rem;
}
